.form{
    width: 60%;
    margin: auto;

}
.form>input{
    padding: 12px 20px;
    width: 70%;
    border: solid 1px #e2e2e2;
    border-radius: 5px;
}
.form>button{
    border: none;
    outline: none;
    padding: 10px 12px;
    background-color: rgb(114, 187, 114);
    border-radius: 5px;
    color: #ffffff;
    
}